{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">방명록 상세 정보</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="font-weight-bold">작성자:</span> {{ visitor.name }}
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">작성일:</span> {{ visitor.day }}
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">이메일:</span> {{ visitor.email }}
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">내용:</span> {{ visitor.content }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}